{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}