@import "../../style/center";
.login-form {
  width: 330px;
  min-width:300px;
  .rememberMe{
    display: inline;
  }
  .forgot{
    left: 100%;
    position: sticky;
  }
  .register{
  }
}

body {
  background-size: cover;
  background-image: url("./loginBackGround.jpg");
  @include centerLayout
}


