@import "../../style/center";
.login-form {
  max-width:300px;
}

.login-button{
  width: 100%;
}

body {
  background-size: cover;
  background-image: url("./loginBackGround.jpg");
  @include centerLayout
}


